* {
    margin: 0;
    padding: 0;
}

/* For all pages */

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

head,
body {
    font-family: sans-serif;
}

.pStyle {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.pStyleUnderH1 {
    width: 410px;
}

.heading1 {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
}

.heading2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.heading3 {
    font-size: 36px;
    text-align: center;
}

.heading4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.04em;
}

.upperList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 39px;
}

/* Footer style */

.bottomList {
    list-style-type: upper-latin;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.footerList {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
}

.footerList:first-child::before {
    content: 'A. ';
    display: block;
    margin-right: 16px;
}

.footerList:nth-child(2)::before {
    content: 'B. ';
    display: block;
    margin-right: 16px;
}

.footerList:nth-child(3)::before {
    content: 'C. ';
    display: block;
    margin-right: 16px;
}

.footer {
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
    background: #316099;
}

.topFooter {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__text {
    width: 495px;
}

.footer_heading {
    width: 340px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 32px;
    line-height: 46px; 
    letter-spacing: 0.05em; 
    font-weight: 300;
}

.footerTxt {
    color: #FFFFFF;
}

.footer__button {
    background: #5A98D0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 80px;
}

.copyright {
    margin-top: 64px;

}

.copyrightStyle {
    color: #FFFFFF;
    opacity: 0.4;
}

/* Index style */

.whatWeDo {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.productCard {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.centralBlock {
    display: flex;
    flex-direction: column;
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/topBack.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.mainPart {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);  
    min-height: 768px; 
}

.topHeading {
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.topButton {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
    width: 130px;
}

.topBlock {
    display: flex;
    flex-direction: column;
    
}

.whatWeDo_head {
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.middleHead{
    padding-top: 64px;
}

.cardHeading {
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.cardLink {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.imgCardStyle {
    align-self: center;
    margin-bottom: 51px;
}

.textProject {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.projectImage {
    width: 100%;
}

.projectItem {
    position: relative;
    flex-grow: 1;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project__text_mini {
    right: auto;
    left: 32px;
    top: 32px;
    text-align: left;
}

.projectParent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.projectItem_margin {
    margin-right: 32px;
}

/* Contacts style */

.contactUsHeader {
    background-image: url(img/contactsbcg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 55px;
    margin-bottom: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactUsHeading {
    margin-bottom: 16px;
    margin-top: 51px;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    
}

.contactUsP {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 49px;
}

.contactsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactBlock {
    display: flex;
    justify-content: center;
}

.buttonStyle {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 72px;
    margin-bottom: 56px;
    margin-left: 56px;
    padding: 23px 183px;
}

.mapPart {
    display: flex;
    justify-content: stretch;
    padding-top: 96px;
    width: 940px;
}

.addressPart {
    display: flex;
    flex-direction: column;
    padding-right: 101px;
    margin-bottom: 20px;
}

.company_contact__style {
    width: 300.31px;
    height: 181px;
    padding-bottom: 56px;
    padding-top: 112px;
}

.addressPart__text {
    max-width: 300px;
    padding-top: 24px;
    padding-bottom: 40px;
}

.addressPart_Phone {
    padding-bottom: 24px;
}

.address_list__padding {
    padding-bottom: 16px;
}

.addressPart__List {
    padding-bottom: 40px;
}

.listStyle {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}

.address_list {
    list-style-image: url(img/contacts_phone.svg);
    list-style-position: inside;
}

.addressPart__onlineHeading {
    padding-bottom: 24px;
}

.online__list1 {
    list-style-image: url(img/contacts_web.svg);
    list-style-position: inside;
    padding-bottom: 16px;
}

.online__list2 {
    list-style-image: url(img/contacts_email.svg);
    list-style-position: inside;
}

.feedbackPart {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 540px;
}

.feedback__heading {
    padding: 56px 0 48px 56px;
}

.feedback__text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    padding-bottom: 8px;
    padding-left: 56px;
}

.inputStyle__margin {
    margin-bottom: 32px;
    height: 72px;
}

.inputStyle__textarea {
    height: 144px;
    padding-top: 21px;
}

.inputStyle {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    margin-left: 56px;
    margin-right: 56px;
    width: 428px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
    padding-left: 36px;
}

/* ADAPTIVE */

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .centralBlock {
        background-position: right 280px;
    }

    .whatWeDo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productCard {
        margin-bottom: 32px;
    }

    .footer {
        padding-top: 47px;
    }

    .footer__button {
        padding: 10px 40px 10px;
    }

    .footer__text {
        width: 336px;
    }
    
    .topFooter {
        justify-content: space-around;
    }

    .bottomList {
        flex-direction: column;
        justify-items: center;
    }

    

    .footerList {
        padding-bottom: 25px;
    }

    .contactUsHeader {
        margin-top: 49px;
        background-repeat: round;
        margin-bottom: 0;
    }

    .contactUsHeading {
        margin-top: 50px;
    }
    
    .contactUsP {
        margin-bottom: 50px;
        width: 520px;
    }

    .upperList__adaptive {
        padding-top: 18px;
    }

    .contactsContent {
        display: flex;  
        align-items: center;
    }
    
    .contactBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .addressPart {
        padding-left: 235px;
        padding-right: 232px;
    }

    .feedbackPart {
        margin: 64px 124px;
    }

    .company_contact__style {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .mapPart {
        padding: 0 0;
        align-self: center;
        width: 100%;
    }
}

@media (max-width: 667px) {
    .topHeading {
        width: 100%;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 12px;
    }   

    .pStyleUnderH1 {
        width: 100%;
        text-align: center;
    }

    .upperList {
        padding-top: 24px;
    }

    .centralBlock {
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }

    .topButton {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .mainPart {
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }

    .whatWeDo_head {
        font-size: 24px;
        line-height: 28px;
    }

    .middleHead {
        padding-top: 48px;
    }

    .whatWeDo {
        padding-top: 32px;
    }

    .productCard {
        width: 100%;
    }

    .textProject {
        width: 100%;
    }

    .project__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    
    .project__text_mini {
        left: 16px;
    }

    .projectParent {
        flex-direction: column;
        margin-top: 16px;
    }

    .projectItem_margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .topFooter {
        flex-direction: column;
    }

    .footer_heading {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }
    
    .footerTxt {
        text-align: center;
        margin-bottom: 40px;
    }

    .copyrightStyle {
        text-align: center;
    }

    .footerList {
        line-height: 19px;
    }

    .footer {
        padding-top: 18px;
        padding-bottom: 32px;
        margin-top: 64px;
    }

    .footerList {
        padding-bottom: 17px;
    }

    .copyright {
        margin-top: 37px;
    }

    .topFooter {
        padding-bottom: 41px;
    }

    .bottomList {
        margin-top: 32px;
    }

    .footer__button {
        padding: 4px 20px;
    }
}
